<tr>
    <td>Titre</td>
    <td>Word 365</td>
</tr>
<tr>
     <td>Date de publication</td>
     <td>4 Septembre 2022</td>
</tr>
<tr>
     <td>Format</td>
     <td>Papier imprimé</td>
</tr>
<tr>
     <td>Taille</td>
     <td>8.5 pouce x 11 pouce</td>
</tr>
<tr>
     <td>Nombre de pages</td>
     <td>259</td>
</tr>
<tr>
     <td>Langue</td>
     <td>français</td>
</tr>
<tr>
     <td>Disponible</td>
     <td>seulement au Canada</td>
</tr>
<tr>
     <td>Prix</td>
     <td>39,95 + taxes / livraison</td>
</tr>