<tr>
    <td>Titre</td>
    <td>Word 365</td>
</tr>
<tr>
     <td>Date de publication</td>
     <td>4 Septembre 2022</td>
</tr>
<tr>
     <td>Format</td>
     <td>PDF (téléchargeable)</td>
</tr>
<tr>
     <td>Taille</td>
     <td>35 mégaoctet</td>
</tr>
<tr>
     <td>Nombre de pages</td>
     <td>259</td>
</tr>
<tr>
     <td>Langue</td>
     <td>français</td>
</tr>
<tr>
     <td>Disponible</td>
     <td>à l’international</td>
</tr>
<tr>
     <td>Prix</td>
     <td>29,95 + taxes</td>
</tr>