<button id="add_to_cart"
<% if (quantity < 3) { %>
        hx-post="cart/add/<%= book.format.title.toLowerCase(); %>/<%= book.format.type; %>"
        hx-swap="outerHTML"
        hx-target="#add_to_cart"
        class="orange_button">
    Ajouter au panier
    <% } else { %>
        class="orange-button disabled">Limite de 3 exemplaires
    <% } %>
</button>