<div class="full-page-container absolute_center">
    <div class="center padding_3rem white_box">
        <p>Oups! Quelque chose n'a pas fonctionné.</p>
        <button class="main_button blue small" hx-get="/data_cart" hx-target="main" hx-swap="innerHTML
    show:top">Réessayez
        </button>
    </div>
</div>