<div class="full-width-container blue-background">
    <div class="content-container">
        <h1 class="white mt5">Contact</h1>
        <form class="mb4">
            <label for="courriel" class="white block mt2 mb1">Courriel</label>
            <input id="courriel" type="email" required/>
            <label for="subject" class="white block mt2 mb1">Sujet</label>
            <input id="subject" type="text" required/>
            <label for="message" class="white block mt2 mb1">Message</label>
            <textarea id="message" rows="10" required></textarea>
            <button class="main-button mt2">Envoyer</button>
        </form>
    </div>
</div>