<div class="full_width_container off_white_background">
    <div class="content_container">
        <h1 class="margin_top_5rem center">Contact</h1>
        <form class="margin_bottom_4rem">
            <label for="courriel" class="block margin_top_2rem margin_bottom_1rem">Courriel</label>
            <input id="courriel" type="email" class="grey_border" required/>
            <label for="subject" class="block margin_top_2rem margin_bottom_1rem">Sujet</label>
            <input id="subject" type="text" class="grey_border" required/>
            <label for="message" class="block margin_top_2rem margin_bottom_1rem">Message</label>
            <textarea id="message" rows="5" class="grey_border" required></textarea>
            <button class="main_button margin_top_2rem">Envoyer</button>
        </form>
    </div>
</div>