<div class="full_width_container blue_background">
    <div class="content_container">
        <h1 class="white margin_top_5rem">Contact</h1>
        <form class="margin_bottom_4rem">
            <label for="courriel" class="white block margin_top_2rem margin_bottom_1rem">Courriel</label>
            <input id="courriel" type="email" required/>
            <label for="subject" class="white block margin_top_2rem margin_bottom_1rem">Sujet</label>
            <input id="subject" type="text" required/>
            <label for="message" class="white block margin_top_2rem margin_bottom_1rem">Message</label>
            <textarea id="message" rows="10" required></textarea>
            <button class="main-button margin_top_2rem">Envoyer</button>
        </form>
    </div>
</div>