<div class="full_width_container off_white_background">
    <div class="content_container">
        <h1 class="margin_top_5rem center">Contact</h1>
        <%- include("contact_form.ejs") %>
    </div>
</div>