<div class="full-width">
    <p>Outlook</p>
    <p>Outlook</p>
    <p>Outlook</p>
    <p>Outlook</p>
    <p>Outlook</p>
    <p>Outlook</p>
    <p>Outlook</p>
    <p>Outlook</p>
    <p>Outlook</p>
    <p>Outlook</p>
    <p>Outlook</p>
    <p>Outlook</p>
    <p>Outlook</p>
    <p>Outlook</p>
</div>
