<div class="full-width">
    <p>Word</p>
    <p>Word</p>
    <p>Word</p>
    <p>Word</p>
    <p>Word</p>
    <p>Word</p>
    <p>Word</p>
    <p>Word</p>
    <p>Word</p>
    <p>Word</p>
    <p>Word</p>
    <p>Word</p>
    <p>Word</p>
    <p>Word</p>
</div>
