<div class="full-width-container">
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p><%= contact[0].name %></p>
    <p><%= contact[0].email %></p>
    <p>Blog</p>
    <p>Blog</p>
</div>
