<div class="full-width">
    <p>PowerPoint</p>
    <p>PowerPoint</p>
    <p>PowerPoint</p>
    <p>PowerPoint</p>
    <p>PowerPoint</p>
    <p>PowerPoint</p>
    <p>PowerPoint</p>
    <p>PowerPoint</p>
    <p>PowerPoint</p>
    <p>PowerPoint</p>
</div>
