<div class="full-width hero-container blue-background">
    <div class="container mt2">
        <div class="mt5 center">
            <span class="hero-h1">Maîtrisez les outils <span
                        class="hero-h1 no-wrap">de bureautique</span> <span
                        class="hero-h1 no-wrap">les plus en demande</span></span>
        </div>
        <div class="hero-h2 mt1">
            <span class="hero-h2 no-wrap">Devenez l'employé efficace ou le candidat</span>
            <span class="hero-h2 no-wrap">que les entreprises adorent embaucher</span>
        </div>
        <div class="center mt4 mb2">
            <img src="./img/webp/headshot.webp"
                 alt="Portrait de Valérie Gervais"
                 class="head-shot"
                 loading="lazy"
                 decoding="async"
                 style="width: 35vmin; height: 35vmin">
            <div class="head-shot-caption mt1 center">
                <img src="./img/svg/logo_white.svg" alt="Valérie Gervais"
                     class="mt1 mb1" loading="lazy" decoding="async">
                <p>FORMATRICE AGRÉÉE PAR LA CPMT</p>
                <p>COMMISSION DES PARTENAIRES DU MARCHÉ DU TRAVAIL</p>
            </div>
        </div>
    </div>
</div>
<div class="full-width mt5 center">
    <div class="container">
        <p>Bonjour, je m'appelle Valérie Gervais. Je compte plus de vingt ans
            d’expérience dans l’enseignement aux adultes dans différentes écoles
            de formation, incluant:</p>
    </div>
</div>
<div class="scroller mt2">
    <ul class="scroller__inner">
        <li><img src="./img/svg/institutions/01.jpg" alt="CSN"></li>
        <li><img src="./img/svg/institutions/02.svg" alt="Centre hospitalier Sainte-Justine"></li>
        <li><img src="./img/svg/institutions/03.svg" alt="College Lionel-Groulx"></li>
        <li><img src="./img/svg/institutions/04.svg" alt="Molson"></li>
        <li><img src="./img/svg/institutions/05.svg" alt="Université du Quebec a Montréal"></li>
        <li><img src="./img/svg/institutions/06.svg" alt="École Nationale d'Aréotechnique"></li>
        <li><img src="./img/svg/institutions/07.png" alt="Collège LaSalle"></li>
        <li><img src="./img/svg/institutions/08.png" alt="Collège Montmorency"></li>
    </ul>
</div>
<div class="full-width mt3 center">
    <div class="container">
        <p>On m'apprécie pour ma capacité d'adaptation à des clientèles variées,
            pour ma patience et ma générosité. Je sais mettre les gens à l'aise
            pour leur faciliter l'apprentissage de nouvelles notions.</p>
    </div>
</div>
<div class="full-width mt2 center">
    <div class="container">
        <h2 class="mt5">Manuels</h2>
        <p>Mes manuels sont des ouvrages de références clairs et faciles à
            suivre.</p>
        <div class="book-grid mt2">
            <div id="word">
                <h3 class="mt3">Word 365</h3>
                <img src="./img/svg/word_cover.svg" alt="Couverture Word"
                     loading="lazy"
                     decoding="async"
                     class="word-cover">
                <p>Doté d’une table des matières, d’un index
                    et d’une liste des raccourcis clavier, le manuel Word 365
                    est un outil indispensable pour produire des documents de
                    qualité professionnelle.</p>
                <div class="center mt1">
                    <button class="main-button">En savoir plus</button>
                </div>
            </div>
            <div id="excel">
                <h3 class="mt3">Excel 365</h3>
                <img src="./img/svg/excel_cover.svg" alt="Couverture Word"
                     loading="lazy"
                     decoding="async"
                     class="excel-cover">
                <p>À l’aide de ce manuel, vous serez en
                    mesure de créer des graphiques, des tableaux croisés
                    dynamiques, des graphiques Sparkline. Vous y trouverez aussi
                    l’information nécessaire pour enregistrer une macro commande
                    et plus encore.</p>
                <div class="center mt1">
                    <button class="main-button">En savoir plus</button>
                </div>
            </div>
            <div id="powerpoint">
                <h3 class="mt3">PowerPoint 365</h3>
                <img src="./img/svg/powerpoint_cover.svg" alt="Couverture Word"
                     loading="lazy"
                     decoding="async"
                     class="powerpoint-cover">
                <p>Tous les outils qui traitent de la
                    manipulation des images, des objets WordArt, des formes
                    dessinées figurent dans ce manuel. Après consultation des
                    notes, l’insertion de fichiers Audio et Vidéo vous semblera
                    un jeu d’enfant!</p>
                <div class="center mt1">
                    <button class="main-button">En savoir plus</button>
                </div>
            </div>
            <div id="outlook">
                <h3 class="mt3">Outlook 365</h3>
                <img src="./img/svg/outlook_cover.svg" alt="Couverture Word"
                     loading="lazy"
                     decoding="async"
                     class="outlook-cover">
                <p>En plus des fonctions de base, vous
                    apprendrez à gérer le courrier, à créer des règles et une
                    réponse automatique lors de votre absence. Vous apprendrez
                    comment faire une demande de réunion, comment créer un
                    groupe de calendrier et comment partager votre calendrier.
                    Vous serez aussi en mesure de créer des tâches et des
                    notes.</p>
                <div class="center mt1">
                    <button class="main-button">En savoir plus</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-width mt3 center blue-background mt5">
    <div class="container white-background mt5 p4 mb5 round-corner">
        <h2 class="mt2">Témoignages</h2>
        <blockquote>
            <p class="mt1">Je tiens à exprimer ma grande satisfaction quant aux
                manuels pédagogiques de Mme Gervais que j’ai utilisés à
                plusieurs reprises.</p>
            <p class="mt1">Je voudrais souligner ici les principaux attributs
                qui ont contribué de manière importante à mon expérience
                positive (ainsi qu’à celle des apprenants qui ont utilisé les
                documents).</p>
            <p class="mt1">D’abord et avant tout, la clarté de l’information
                fait que les concepts sont présentés de manière simple et facile
                à comprendre afin que même ceux qui ne connaissent pas le sujet
                puissent facilement comprendre. Les explications sont concises
                et évitent le jargon excessif, ce qui les rend très faciles à
                intégrer. Un autre avantage est le référencement du contenu. Le
                sujet est organisé et structuré de manière logique afin que vous
                puissiez trouver des informations spécifiques rapidement et
                efficacement. Les chapitres et les thèmes sont clairement
                délimités, ce qui facilite la navigation de l’information. C’est
                agréable de voir que chaque élément est en place et contribue à
                la compréhension globale du sujet.</p>
            <p class="mt1">Un autre point notable est la qualité des
                illustrations fournies. Les images et les graphiques sont très
                nets et ajoutent de la valeur à l’ensemble du matériel. Ils
                complètent visuellement les descriptions textuelles et
                facilitent la compréhension des concepts abordés.</p>
            <p class="mt1">Consulter le matériel n’est pas seulement informatif,
                c’est aussi agréable.</p>
            <p class="mt1">Le plaisir de la consultation des manuels est un
                aspect qui ne peut être négligé. La mise en page soignée, la
                typographie claire et les éléments graphiques bien choisis
                contribuent à une expérience visuelle plaisante. La présentation
                est attrayante et invite à se plonger dans le contenu, ce qui
                rend l'apprentissage plus motivant et engageant.</p>
            <p class="mt1">En conclusion, les manuels de Mme Gervais
                représentent pour moi une valeur exceptionnelle et c'est avec
                joie que je les utilise régulièrement dans le cadre de mes
                formations.</p>
            <cite>- Richard Dowd / Formateur en entreprise – Spécialiste de
                contenu</cite>
        </blockquote>
        <blockquote class="mt2">
            <p class="mt1">Nous dispensons de nombreuses formations bureautiques
                auprès de nos entreprises clientes. Nous utilisons régulièrement
                les manuels de Valérie Gervais pour ces formations. Ils sont
                très bien structurés pour un apprentissage pas à pas des
                fonctionnalités des logiciels et contiennent de nombreux
                exercices à réaliser par les participants. De plus, Valérie se
                fait un devoir de mettre à jour les manuels afin qu’ils soient
                toujours en phase avec les nouveautés d’Office 365. Je vous les
                conseille donc fortement. C’est une valeur ajoutée aux
                formations bureautiques.</p>
            <cite>- Nathalie Beaulieu, conseillère en formation au Collège de
                Maisonneuve</cite>
        </blockquote>
        <blockquote class="mt2">
            <p class="mt1">Avoir recours aux services de Valérie pour un cours
                sur Word et Excel fut une excellente décision, car cela m’a été
                fort utile. Les séances étaient claires précises et adaptées à
                mes besoins. De plus, ses manuels Excel et Word sont
                d’excellents outils de références qui facilitent l’usage de ces
                produits, et/ou pour optimiser leur utilisation, et ce, pour
                tous les niveaux que vous soyez débutant ou expert.</p>
            <cite>- Sonia Roy</cite>
        </blockquote>
        <blockquote class="mt2">
            <p class="mt1">J’utilise les manuels de Valérie depuis plusieurs
                années et je reçois que des commentaires positifs de la part de
                mes clients. Ils me soulignent sa présentation soignée et
                épurée, ses informations claires et concises et surtout ils
                découvrent un outil de référence inégalable. Par son index, ils
                peuvent repérer très rapidement l’information recherchée. Je
                recommande les manuels de Valérie sans aucune hésitation.</p>
            <cite>- Michelle Bélisle, Formatrice en bureautique</cite>
        </blockquote>
    </div>
</div>
