<div class="full-width">
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
    <p>Contact</p>
</div>