<div class="full-width">
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
</div>
