<div class="full-width">
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
</div>