<div class="full-width-container">
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
    <p>Blog</p>
</div>
