<div class="full-width">
    <p>Excel</p>
    <p>Excel</p>
    <p>Excel</p>
    <p>Excel</p>
    <p>Excel</p>
    <p>Excel</p>
    <p>Excel</p>
    <p>Excel</p>
    <p>Excel</p>
    <p>Excel</p>
    <p>Excel</p>
    <p>Excel</p>
</div>
