<div class="full-width mt5">
    <div class="container">
        <hr>
        <button>Contactez moi</button>
    </div>
</div>
<div class="full-width blue-background">
    <div class="container center">

    </div>
</div>

