<div class="full-width">
    <div>
        <hr>
    </div>
    <div class="container mt5">
        <button class="main-button">Contactez moi</button>
    </div>
</div>
<div class="full-width blue-background">
    <div class="container center">

    </div>
</div>

