<div class="full-width-container mt5">
    <div>
        <hr>
    </div>
    <div class="content-container mt5 flex-row-space-between">
        <div>
            <a class="block link" hx-target="main"
               hx-get="/data_contact"
               hx-swap="show:window:top"
               hx-push-url="/contact">Contactez moi</a>
            <a class="block link mt1" hx-target="main"
               hx-get="/data_politique"
               hx-swap="show:window:top"
               hx-push-url="/politique">Politique de confidentialité</a>
        </div>
        <div>
            <img src="./img/svg/linkedin.svg" alt="linkedin" width="58px"
                 class="link">
        </div>
    </div>
    <div class="content-container center">
        <p class="mt2 mb2" id='copyright'>&copy;<%= new Date().getFullYear() %>
            Valérie Gervais</p>
    </div>
</div>

