<div class="navbar">
    <img src="/img/svg/logo_black.svg" alt="Valérie Gervais" class='logo' width="240px" loading="lazy">
    <span id="cherry" class="invisible"></span>
    <img id='totals-button' src="/img/svg/cart.svg" width='24px'
         alt="panier" loading="lazy" hx-get="/panier/data" hx-target="main" hx-swap="innerHTML show:top"
         hx-push-url="/panier">
    <nav>
        <ul class="menu">
            <li hx-target="main"
                hx-get="/data_index"
                hx-swap="innerHTML show:top"
                hx-push-url="/">Accueil
            </li>
            <li hx-target="main"
                hx-get="/data_service"
                hx-swap="innerHTML show:top"
                hx-push-url="/service">Service
            </li>
            <li hx-target="main"
                hx-get="/manuel/data_word"
                hx-swap="innerHTML settle:150ms show:top"
                hx-push-url="/manuel/word">Word
            </li>
            <li hx-target="main"
                hx-get="/manuel/data_excel"
                hx-swap="innerHTML settle:150ms show:top"
                hx-push-url="/manuel/excel">Excel
            </li>
            <li hx-target="main"
                hx-get="/manuel/data_powerpoint"
                hx-swap="innerHTML settle:150ms show:top"
                hx-push-url="/manuel/powerpoint">PowerPoint
            </li>
            <li hx-target="main"
                hx-get="/manuel/data_outlook"
                hx-swap="innerHTML settle:150ms show:top"
                hx-push-url="/manuel/outlook">Outlook
            </li>
            <li hx-target="main"
                hx-get="/data_blog"
                hx-swap="innerHTML show:top"
                hx-push-url="/blog">Blog
            </li>
        </ul>
    </nav>
</div>