<div class="full-page-container absolute_center">
    <div class="center white_background padding_3rem grey_border round-corner">
        <p>Code postal invalid</p>
        <button class="main_button blue small" hx-get="/data_cart" hx-target="main" hx-swap="innerHTML
    show:top">Réessayez
        </button>
    </div>
</div>