<!DOCTYPE html>
<html lang='fr-CA'>
<head>
    <%- include('head.ejs') %>
    <title>Valérie Gervais</title>
</head>
<body hx-boost="true">
<header>
    <%- include('header.ejs') %>
</header>
<main>
    <%- include(main + '.ejs') %>
</main>
<footer>
    <%- include('footer.ejs') %>
</footer>
</body>
</html>
<!--path: views/layout.ejs-->