<div class="full-width-container">
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
    <p>Politique</p>
</div>