<div class="full-width">
    <p>Service</p>
    <p>Service</p>
    <p>Service</p>
    <p>Service</p>
    <p>Service</p>
    <p>Service</p>
    <p>Service</p>
    <p>Service</p>
    <p>Service</p>
    <p>Service</p>
    <p>Service</p>
    <p>Service</p>
    <p>Service</p>
    <p>Service</p>
</div>
