<div class="full-width-container service-background">
    <div class="content-container center margin_top_3rem">
        <h1 class="white margin_top_5rem margin_bottom_1rem">Services</h1>
    </div>
</div>
<div class="full-width-container">
    <div class="content-container">
        <h2 class="margin_top_5rem margin_bottom_1rem">Mentorat</h2>
        <p>On m'apprécie pour ma capacité d'adaptation à des clientèles variées,
            pour ma patience et ma générosité. Je sais mettre les gens à l'aise
            pour leur faciliter l'apprentissage de nouvelles notions.</p>
        <p>J'offre un service de mentorat qui vous aidera à améliorer vos
            habiletés dans Word, Excel, PowerPoint ou Outlook.</p>
        <p>Que vos connaissances soient minimes ou plus avancées, que vous
            vouliez apprendre par vous-mêmes ou seulement parfaire certaines
            notions, vous obtiendrez l’aide dont vous avez besoin.</p>
        <p>Des sessions privées d’une ou plusieurs heures vous sont proposées à
            un tarif abordable.</p>
        <h2 class="margin_top_5rem margin_bottom_1rem">Mise en page de documents</h2>
        <p>J’offre aussi un service de mise en page de documents. Que ce soit
            pour la mise en page d’une thèse de doctorat, d’un curriculum vitae
            ou d’une table des matières; pour la mise en forme de diapositives
            dans PowerPoint ou de tableaux Excel, vous obtiendrez un service
            rapide des plus satisfaisants.</p>
        <p class="margin_top_2rem" style="color: red">For more information, or to request an estimate, don't hesitate to
            contact me.</p>
        <form class="margin_bottom_4rem">
            <label for="courriel" class="block margin_top_2rem margin_bottom_1rem">Courriel:</label>
            <input id="courriel" type="email" class="grey_border" required />
            <label for="subject" class="block margin_top_2rem margin_bottom_1rem">Sujet</label>
            <input id="subject" type="text" class="grey_border" required />
            <label for="message" class="block margin_top_2rem margin_bottom_1rem">Message</label>
            <textarea id="message" rows="10" class="grey_border"
                      required></textarea>
            <button class="main-button margin_top_2rem">Envoyer</button>
        </form>
    </div>
</div>