<div class="full-page-container absolute_center">
    <div class="center padding_3rem white_box" style="max-width: 30rem;">
        <p>Merci pour votre message. Je vous reviens le plus tôt possible.</p>
        <button id="refresh_button" class="main_button margin_top_2rem">Continuer</button>
    </div>
</div>

<script>
document.getElementById("refresh_button").addEventListener("click", function() {
    window.location.reload();
});
</script>