/* TYPEFACES */
@font-face {
    font-family : "iThin";
    src         : url("../font/iThin.woff2") format("woff2");
    font-weight : 100;
    font-style  : normal;
}

@font-face {
    font-family : "iLite";
    src         : url("../font/iLite.woff2") format("woff2");
    font-weight : 300;
    font-style  : normal;
}

@font-face {
    font-family : "iReg";
    src         : url("../font/iReg.woff2") format("woff2");
    font-weight : 400;
    font-style  : normal;
}

@font-face {
    font-family : "iSemi";
    src         : url("../font/iSemi.woff2") format("woff2");
    font-weight : 600;
    font-style  : normal;
}

@font-face {
    font-family : "iBold";
    src         : url("../font/iBold.woff2") format("woff2");
    font-weight : 700;
    font-style  : normal;
}

/* VARIABLES */
:root {
    --black                     : #000000;
    --btn_blue_main             : #146885;
    --btn_blue_main_disabled    : #4A7382;
    --btn_blue_main_hover       : #1B8CB3;
    --btn_blue_stoke            : #162425;
    --btn_blue_stoke_disabled   : #3B5A64;
    --btn_blue_text_disabled    : #87A8B4;
    --btn_orange_main           : #BE5A13;
    --btn_orange_main_disabled  : #B9947B;
    --btn_orange_main_hover     : #FC7A23;
    --btn_orange_stoke          : #533926;
    --btn_orange_stoke_disabled : #816E63;
    --btn_orange_text_disabled  : #E3D9D5;
    --btn_radio_checked         : #359EC1;
    --btn_radio_unchecked       : #1C424F;
    --btn_red_hover_stoke       : #541414;
    --btn_red_main              : #B30F0F;
    --btn_red_main_hover        : #FF2B2B;
    --btn_red_stoke             : #331A1A;
    --drop_shadow               : drop-shadow(5px 5px 3px #0000003F);
    --excel_stroke              : #014328;
    --font_bold                 : iBold, Arial, sans-serif;
    --font_lite                 : iLite, Arial, sans-serif;
    --font_regular              : iReg, Arial, sans-serif;
    --font_semibold             : iSemi, Arial, sans-serif;
    --font_thin                 : iThin, Arial, sans-serif;
    --grad_excel                : linear-gradient(137.51deg, #237045 0.86%, #17766F 43.85%, #98438A 100%);
    --grad_main                 : linear-gradient(137.51deg, #1D375B 0%, #0F6D70 50%, #945F39 100%);
    --grad_outlook              : linear-gradient(137.51deg, #987A3C 0%, #218567 70.8%, #21689E 100%);
    --grad_powerpoint           : linear-gradient(137.51deg, #BE3435 20.72%, #708743 64.63%, #00AC96 100%);
    --grad_service              : linear-gradient(137.51deg, #33102E 0%, #771028 25%, #D36F2B 75%, #CEA114 100%);
    --grad_word                 : linear-gradient(137.51deg, #263C51 0%, #23486C 12.05%, #C95D7C 64.6%, #E38C6F 90.47%, #ECB86A 99.38%);
    --grey                      : #CCCCCC;
    --header                    : rgba(255, 255, 255, 0.7);
    --header_height             : 3.75rem;
    --medium_grey               : #888888;
    --off_white                 : #F5F5F5;
    --outlook_stroke            : #0D3C66;
    --powerpoint_stroke         : #793C27;
    --stroke                    : 0.0625rem;
    --stroke_double             : 0.125rem;
    --txt                       : #505050;
    --white                     : #FFFFFF;
    --word_stroke               : #1D1F3E;
}

/* MARGINS */
.margin_top_1rem { margin-top : 1rem; }

.margin_top_2rem { margin-top : 2rem; }

.margin_top_3rem { margin-top : 3rem; }

.margin_top_4rem { margin-top : 4rem; }

.margin_top_5rem { margin-top : 5rem; }

.margin_bottom_1rem { margin-bottom : 1rem; }

.margin_bottom_2rem { margin-bottom : 2rem; }

.margin_bottom_3rem { margin-bottom : 3rem; }

.margin_bottom_4rem { margin-bottom : 4rem; }

.margin_bottom_5rem { margin-bottom : 5rem; }

/* PADDINGS */
.padding_0 { padding : 0; }

.padding_1rem { padding : 1rem; }

.padding_2rem { padding : 2rem; }

.padding_3rem { padding : 3rem; }

.padding_4rem { padding : 4rem; }

.padding_5rem { padding : 5rem; }

.pt1 { padding-top : 1rem; }

.pt2 { padding-top : 2rem; }

.pt3 { padding-top : 3rem; }

.pt4 { padding-top : 4rem; }

.pt5 { padding-top : 5rem; }

.pb1 { padding-bottom : 1rem; }

.pb2 { padding-bottom : 2rem; }

.pb3 { padding-bottom : 3rem; }

.pb4 { padding-bottom : 4rem; }

.pb5 { padding-bottom : 5rem; }

.pl1 { padding-left : 1rem; }

.pl2 { padding-left : 2rem; }

.pl3 { padding-left : 3rem; }

.pl4 { padding-left : 4rem; }

.pl5 { padding-left : 5rem; }

.pr1 { padding-right : 1rem; }

.pr2 { padding-right : 2rem; }

.pr3 { padding-right : 3rem; }

.pr4 { padding-right : 4rem; }

.pr5 { padding-right : 5rem; }

/* defaults & resets */
* {
    box-sizing  : border-box;
    color       : var(--txt);
    font-family : var(--font_lite);
    font-size   : 1rem;
    font-style  : normal;
    font-weight : 400;
    line-height : 1.5;
    margin      : 0;
    padding     : 0;
}

body {
    background-color : var(--off_white);
    display          : flex;
    flex-direction   : column;
    height           : 100vh;
    justify-content  : space-between;
}

main {
    align-items    : center;
    display        : flex;
    flex-direction : column;
}

.content_container {
    max-width : 60rem;
    width     : 90%;
}

:focus { outline : var(--txt); }

/* typography */
h1, h2, h3, h4, h5, h6 {
    font-family    : var(--font_semibold);
    font-weight    : 400;
    text-transform : uppercase;
    /*transition     : 1s ease;*/
}

h1 {
    font-size : clamp(2rem, 10vw, 3rem);

}

h2 {
    font-size : clamp(1.25rem, 7.5vw, 2rem);
}

h3 {
    font-size : clamp(1.25rem, 6vw, 1.5rem);
}

h4 {
    font-size : clamp(1rem, 5vw, 1.25rem);
}

p, q, label, cite {
    display : inline-block;
}

p {
    margin-bottom : 1rem;
}

label {
    font-family : var(--font_semibold);
}

cite {
    font-family : var(--font_semibold);
    margin-top  : 1rem;
}

nav > ul > li {
    color           : var(--black);
    font-family     : var(--font_semibold);
    font-style      : normal;
    font-weight     : 700;
    text-decoration : none;
}

.cart_title {
    font-family : var(--font_bold);
    font-size   : 1.25rem;
    font-style  : normal;
    font-weight : 700;
}

.no_wrap {
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : nowrap;
}

.large {
    font-size  : 1.5rem;
    font-style : normal;
}

.white {
    color : var(--white);
}

.bold {
    font-family : var(--font_bold);
    font-weight : 700;
}

.semi_bold {
    font-family : var(--font_semibold);
    font-weight : 600;
}

.section {
    font-family  : var(--font_lite);
    font-size    : 1rem;
    font-style   : normal;
    font-weight  : 700;
    margin       : .5rem 0 .125rem;
    padding-left : 1rem;

}

.subsection {
    font-family   : var(--font_lite);
    font-size     : 1rem;
    font-style    : normal;
    font-weight   : 700;
    margin-bottom : .125rem;
    padding-left  : 3rem;
}

/* images */
.img { display : block; }

/* decorations */
.grey_border {
    border : solid var(--stroke) var(--grey);
}

.blue_border {
    border : solid var(--stroke) var(--btn_blue_stoke);
}

/* behaviors */
html { scroll-behavior : smooth; }

/* header */
header {
    -webkit-backdrop-filter : blur(0.25rem);
    backdrop-filter         : blur(0.25rem);
    background              : var(--header);
    border-bottom           : solid var(--stroke) var(--off_white);
    display                 : flex;
    flex-direction          : row;
    height                  : var(--header_height);
    justify-content         : center;
    position                : fixed;
    width                   : 100vw;
    z-index                 : 5;
}

.navbar {
    align-items     : center;
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    max-width       : 60rem;
    position        : relative;
    width           : 90%;
}

.navbar > nav > ul > li, .navbar > img {
    cursor  : pointer;
    z-index : 10;
}

/* navigation */
nav {
    float    : right;
    position : absolute;
    right    : 42px;
}

nav > ul > li {
    cursor          : pointer;
    display         : inline-block;
    margin-left     : 20px;
    text-decoration : none;
}

nav > img { z-index : 30; }

.disable_transition {
    -moz-transition    : none;
    -o-transition      : none;
    -webkit-transition : none;
    transition         : none;
}

#cherry {
    background-color : var(--btn_red_main);
    border-radius    : 50%;
    height           : 0.33rem;
    position         : absolute;
    right            : -.33rem;
    top              : .75rem;
    width            : 0.33rem;
    z-index          : 11;
}

.invisible {
    opacity : 0;
}

/* navigation on smaller devices */
@media (max-width : 60rem) {
    nav {
        align-items        : center;
        background         : var(--white);
        display            : flex;
        height             : 100vh;
        padding            : 0;
        position           : absolute;
        right              : 0;
        top                : 0;
        transform          : translate(5%, 100%);
        -moz-transition    : transform 0.25s ease-in-out;
        -o-transition      : transform 0.25s ease-in-out;
        -webkit-transition : transform 0.25s ease-in-out;
        transition         : transform 0.25s ease-in-out;
        width              : 100vw;
        z-index            : -1;
    }

    .menu {
        align-items     : flex-end;
        display         : flex;
        flex-direction  : column;
        gap             : 5vh;
        height          : 100%;
        justify-content : center;
        list-style      : none;
        width           : 95%;
        z-index         : -1;
    }

    nav > ul > li {
        color     : black;
        font-size : 1.5rem;
    }

    nav > .hide {
        visibility : hidden;
    }

    .slide_out {
        transform : translate(5%, 100%);
    }

    .slide_in {
        transform : translate(5%, 0%);
    }
}

/* MODALS */
dialog::backdrop {
    background-color : black;
    opacity          : 0.1;
}

/* cart */
#cart_amounts {
    display               : grid;
    gap                   : 0 1rem;
    grid-template-columns : auto auto;
    padding-right         : .5rem;
}

#cart_amounts > * {
    text-align : right;
}

.cart_totals {
    align-items     : flex-end;
    display         : flex;
    flex-direction  : column;
    gap             : 1rem;
    justify-content : flex-end;
    padding         : 2rem 1rem;
    position        : sticky;
}

.cart_item {
    align-items   : center;
    background    : var(--white);
    border        : solid var(--stroke) var(--grey);
    border-radius : .5rem;
    display       : grid;
    gap           : .5rem 1rem;
    grid-template : 1fr / auto 1fr auto;
    line-height   : 1rem;
    margin-bottom : 1rem;
    padding       : 1rem;
    width         : auto;
}

.empty_cart {
    grid-template : 1fr / 1fr;
}


.cart_item_image > img {
    display : block;
    height  : 96px;
    width   : auto;
}

.delete_cart_item {
    justify-self : end;
}

.cart_item_description {
    align-items     : flex-start;
    display         : flex;
    flex-direction  : row;
    justify-content : space-around;
    width           : 100%;
}

.cart_item_detail {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    gap            : 1rem;
}

@media(max-width: 600px) {
    .cart_item_description {
        flex-direction: column;
    }

    .cart_item_detail {
        flex-direction: row;
        gap: .5rem;
    }
}

@media(max-width: 480px) {
    .cart_item_description {
        margin-left: 1vw;
    }

    .cart_item {
        grid-template : 1fr / auto 1fr;
        gap: 1rem;
    }

    .cart_item_detail {
        justify-content: flex-start;
    }

    .delete_cart_item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        grid-column: span 2;
    }

        .cart_item {
        grid-template: 1fr / 1fr 1.618fr;
    }

    .cart_item > div:nth-child(1) {
        margin-left: auto;
    }

    .cart_item > div:nth-child(2) {
        /*background-color: green;*/
    }
}


/* preview*/
dialog#preview {
    align-items     : center;
    backdrop-filter : brightness(0.9);
    border          : solid var(--stroke) var(--txt);
    border-radius   : 1rem;
    filter          : drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    height          : 96vh;
    justify-content : center;
    left            : 50%;
    opacity         : 1;
    overflow        : hidden;
    position        : fixed;
    top             : 50%;
    transform       : translate(-50%, -50%);
    transition      : opacity 0.25s ease-in-out;
    width           : 74.18vh;
}

.htmx-settling dialog#preview {
    opacity : 0;
}

#preview ul {
    position : relative;
}

#preview ul li {
    left     : 0;
    position : absolute;
    top      : 0;
}

#preview > ul, #preview > ul > li {
    margin  : 0;
    padding : 0;
}

#preview ul li img {
    display    : inline-block;
    height     : 96vh;
    left       : 0;
    object-fit : contain;
    opacity    : 0;
    overflow   : hidden;
    top        : 0;
    transition : opacity 500ms ease-in-out;
    width      : auto;
}

#preview ul li img.active { opacity : 1; }

#preview-button {
    bottom     : -20px;
    cursor     : pointer;
    height     : 10vh;
    position   : absolute;
    right      : -20px;
    scale      : 1;
    transition : opacity 1s ease-in-out 1s, scale 1s ease-in-out 1s;
    z-index    : 1;
}

.htmx-settling #preview-button {
    opacity : 0;
    scale   : 1.1;
}

#next, #prev {
    background : var(--white);
    border     : var(--stroke_double) solid var(--txt);
    color      : var(--txt);
    cursor     : pointer;
    font-size  : 1.5rem;
    padding    : .15rem .9rem;
    position   : absolute;
    top        : 50%;
    transform  : translateY(-50%);
    z-index    : 2;
}

#next:hover, #prev:hover {
    background : var(--txt);
    color      : var(--white);
}

#next {
    right : .5rem;
}

#prev {
    left : .5rem;
}

/* remove preview button for screens narrower than regular paper */
@media (max-aspect-ratio : 8.5/11) {
    #preview-button { visibility : hidden; }
}

/* interactions */
button {
    align-items         : center;
    border-radius       : 2rem;
    border-style        : solid;
    border-width        : var(--stroke_double);
    color               : var(--white);
    cursor              : pointer;
    display             : flex;
    font-family         : var(--font_regular);
    font-size           : 1.05rem;
    justify-content     : center;
    padding             : .7rem 1.2rem;
    transition-duration : 500ms;
    width               : fit-content;
}

a {
    color           : var(--btn_blue_main);
    cursor          : pointer;
    text-decoration : none;
}

.close_button {
    background    : none;
    border        : 0;
    border-radius : 0;
    color         : var(--txt);
    cursor        : pointer;
    position      : absolute;
    right         : 1rem;
    top           : 1rem;
}

.close_button:hover {
    background : none;
    border     : none;
    color      : var(--txt);
    cursor     : pointer;
}

button.main_button {
    background   : var(--btn_blue_main);
    border-color : var(--btn_blue_stoke);
}

button:hover {
    background : var(--btn_blue_main_hover);
}

button.red_button {
    background   : var(--btn_red_main);
    border-color : var(--btn_red_stoke);
}

button.red_button.delete {
    border-radius : .45rem;
    padding: .33rem 1rem;
}

button.red_button:hover { background : var(--btn_red_main_hover); }

button.orange_button {
    background   : var(--btn_orange_main);
    border-color : var(--btn_orange_stoke);
}

button.orange_button:hover { background : var(--btn_orange_main_hover); }

button#add_to_cart.orange_button.disabled {
    background   : var(--btn_orange_main_disabled);
    border-color : var(--btn_orange_stoke_disabled);
    color        : var(--btn_orange_text_disabled);
    cursor       : default;
}

button > svg { margin-left : .5rem; }

/*.radio-button { display : none; }*/

#tabs > div > button, #tabs > div > div > button {
    align-items     : center;
    border-radius   : .45rem;
    color           : var(--white);
    display         : inline-flex;
    font-family     : var(--font_semibold);
    font-size       : 1.05rem;
    height          : 2rem;
    justify-content : center;
    margin          : 0;
    padding         : 1.2rem 1.2rem;
    width           : fit-content;
}

#tabs > #format-tabs > button {
    background    : var(--off_white);
    border        : solid var(--stroke) var(--grey);
    border-radius : .45rem .45rem 0 0;
    color         : var(--medium_grey);
    position      : relative;
    transition    : none;
    z-index       : 1;
}

#tabs > #format-tabs > button.selected {
    background    : var(--white);
    border-bottom : solid var(--stroke) var(--white);
    color         : var(--txt);
    z-index       : 3;
}

.double-column { grid-column : span 2; }

.hide-post {
    transform  : translateY(-120px);
    transition : transform 0.25s ease-in-out;
}

.show-post {
    transform  : translateY(0);
    transition : transform 0.25s ease-in-out;
}

.pointer { cursor : pointer; }

.cursor { cursor : default; }

input, textarea {
    border        : var(--txt);
    border-radius : 0.5rem;
    color         : var(--txt);
    display       : block;
    font-family   : rRegular, sans-serif;
    font-size     : 1rem;
    margin-top    : .5rem;
    padding       : .75rem 1rem;
    width         : 100%;
}

input:focus, textarea:focus {
    outline : none;
}

textarea {
    overflow : hidden;
    resize   : vertical;
}

.link {
    cursor          : pointer;
    text-decoration : none;
}

/* layout */
.full_width_container {
    align-items     : center;
    display         : flex;
    flex-direction  : column;
    justify-content : flex-start;
    width           : 100vw;
}

.full-page-container {
    align-items     : center;
    display         : flex;
    flex-direction  : column;
    height          : 100vh;
    justify-content : flex-start;
    margin          : 0;
    padding         : 0;
    width           : 100vw;
}

.content_container {
    max-width  : 960px;
    position   : relative;
    transition : height 0.5s ease-out;
    width      : 90%;
    z-index    : 1;
}

.styled_content_container {
    background-color : var(--off_white);
    border-radius    : 0.5rem;
    max-width        : 960px;
    padding          : 0 3rem 3rem;
    position         : relative;
    transition       : height 0.5s ease-out;
    /*border: var(--grey) var(--stroke) solid;*/
    width            : 90%;
    z-index          : 1;
}

.flex_row_space_between {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
}

.flex-col-space-between {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
}

.full-height {
    height : 100vh;
}

.long-text {
    column-count : 2;
    column-gap   : 4rem;
}

.long-text p {
    display : inline;
}

.long-text > p > br {
    display       : block;
    margin-bottom : 5rem;
}

@media (max-width : 960px) {
    .long-text {
        column-count : 1;
        column-gap   : 0;
    }
}

.center {
    display        : flex;
    flex-direction : column;
    place-items    : center;
}

.round-corner {
    border-radius : 0.5rem;
}

.temoignages {
    margin-bottom : 5rem;
    margin-top    : 5rem;
    padding       : 4rem;
}

@media (max-width : 960px) {
    .temoignages {
        margin-bottom : 2rem;
        margin-top    : 3rem;
        padding       : 2rem;
    }
}

.block { display : block; }

.inline { display : inline; }

.inline-block { display : inline-block; }

/*table#format-specs > tbody {*/
/*    border-spacing : 0 1rem;*/
/*    max-width      : 25rem;*/
/*    table-layout   : auto;*/
/*}*/

/*@media (max-width : 480px) {*/
/*    table#format-specs > tbody {*/
/*        width : 100%;*/
/*        max-width: 100%;*/

/*    }*/
/*}*/

div#format_specs {
    background-color      : var(--white);
    border-radius         : .45rem;
    display               : grid;
    gap                   : 1rem 2rem;
    /*width: 100%;*/
    grid-template-columns : 4fr 5fr;
    max-width             : 25rem;
    outline               : solid var(--stroke) var(--grey);
    z-index               : 2;
}

/* general styles */
.main-book-container {
    display  : inline-block;
    position : relative;
}

.main-book-container > .book-cover {
    display : block;
}

.book-cover {
    height     : 61.803vh;
    opacity    : 1;
    transition : opacity 1s ease-in-out 0.5s;
}

.htmx-settling .book-cover {
    opacity : 0;
}

.hidden {
    transform  : translateY(-92px);
    transition : transform 0.25s ease-in-out;
}

.reveal {
    transform  : translateY(0);
    transition : transform 0.25s ease-in-out;
}

@media (max-aspect-ratio : 9/16) {
    .book-cover {
        height : auto;
        width  : 80vw;
    }
}

/* backgrounds */
.blue_background { background : var(--grad_main); }


.white-background { background : var(--off_white); }


.htmx-settling .excel-background:before,
.htmx-settling .service-background:before,
.htmx-settling .main-background:before,
.htmx-settling .word-background:before,
.htmx-settling .powerpoint-background:before,
.htmx-settling .outlook-background:before {
    filter : brightness(0);
}

.main-background:before,
.service-background:before,
.excel-background:before,
.powerpoint-background:before,
.outlook-background:before,
.word-background:before {
    content    : "";
    filter     : brightness(1);
    height     : calc(61.803% + var(--header_height));
    left       : 0;
    position   : absolute;
    top        : 0;
    transition : filter 0.75s ease-in-out;
    width      : 100%;
}

.main-background:before { background : var(--grad_main); }

.service-background:before { background : var(--grad_service); }

.excel-background:before { background : var(--grad_excel);}

.word-background:before { background : var(--grad_word); }

.powerpoint-background:before { background : var(--grad_powerpoint); }

.outlook-background:before { background : var(--grad_outlook); }

h1 > span.hero-h1, h1 > span.hero-h1 > *, h2 > span.hero-h2 {
    color      : var(--off_white);
    text-align : center;
}

h1 > span.hero-h1, h1 > span.hero-h1 > * {
    display      : inline;
    font-family  : var(--font_semibold);
    font-size    : clamp(1.5rem, 4vw, 2.25rem);
    font-weight  : 700;
    margin-block : 0;
    /*transition   : 1s ease;*/
}

.hero-h2 {
    font-size : clamp(.9rem, 3vw, 1.5rem);
}

.head-shot {
    border        : solid var(--stroke) var(--btn_blue_stoke);
    border-radius : 50%;
    height        : 38.197vh;
    opacity       : 1;
    transition    : opacity 1s ease-in-out 0.5s;
}

.htmx-settling .head-shot {
    opacity : 0;
}

.head-shot-caption {
    max-width : 30rem;
    width     : 90%;
}

.head-shot-caption > img {
    opacity    : 1;
    transition : opacity 1s ease-in-out 0.75s;
    width      : 70%;
}

.htmx-settling .head-shot-caption > img {
    opacity : 0;
}

.head-shot-caption > p:first-of-type {
    font-family : var(--font_regular);
    font-size   : clamp(1rem, 3vw, 1.25rem);
    margin-top  : .5rem;
    opacity     : 1;
    transition  : opacity 1s ease-in-out 1s;
}

.htmx-settling .head-shot-caption > p:first-of-type {
    opacity : 0;
}

.head-shot-caption > p {
    font-family : var(--font_thin);
    font-size   : 1rem;
    line-height : .5rem;
    margin-top  : 0;
    opacity     : 1;
    transition  : opacity 1s ease-in-out 1.25s;
}

.htmx-settling .head-shot-caption > p {
    opacity : 0;
}

@keyframes scroll {
    to { transform : translateX(calc(-50% - 2.5rem)); }
}

.scroller {
    background : var(--white);
    overflow   : hidden;
    width      : 100vw;
}

.scroller_inner {
    display       : flex;
    list-style    : none;
    padding-block : 1rem;
    width         : fit-content;
}

.scroller_inner[data-animated="true"] {
    animation : scroll 40s linear infinite;
    flex-wrap : nowrap;
    width     : fit-content;
}

.scroller_inner:hover { animation-play-state : paused; }

.scroller_inner > li > img {
    height : 50px;
    margin : 0 2.5rem;
}

.book-grid {
    align-items : stretch;
    display     : grid;
    gap         : 3vmax;
    grid        : auto auto / repeat(2, 1fr);
}

@media (max-width : 960px) {
    .book-grid {
        grid : auto auto / 1fr;
    }
}

.book-grid > div {
    background     : var(--white);
    border-radius  : 0.68rem;
    display        : flex;
    flex-direction : column;
    gap            : 1rem;
    padding        : 1.5rem 2rem;
}

.book-grid > div > h3 {
    margin-top : 0;
}

@media (max-width : 480px) {
    .book-grid > div {
        padding : 1.5rem 1rem;
    }
}


.word-cover {
    background : var(--word_stroke);
    border     : solid var(--stroke) var(--word_stroke);
}

.excel-cover {
    background : var(--excel_stroke);
    border     : solid var(--stroke) var(--excel_stroke);
}

.powerpoint-cover {
    background : var(--powerpoint_stroke);
    border     : solid var(--stroke) var(--powerpoint_stroke);
}

.outlook-cover {
    background : var(--outlook_stroke);
    border     : solid var(--stroke) var(--outlook_stroke);
}

.book-grid > div > p { margin-bottom : auto; }

/* footer */


.footer-elements > * {
    max-width : 60rem;
    width     : 90%;
}

hr {
    border-color : var(--off_white);
    width        : 100vw;
}

.social-icons {
    display         : flex;
    flex-direction  : row;
    gap             : 1rem;
    justify-content : center;
}
